<div class="container-fluid" style="margin-top: 50px;">
	<div class="col-xs-12 col-md-4" ng-repeat="post in posts">
		<div class="panel panel-default">
		  	<div class="panel-heading">{{post.type}}</div>
		  	<div class="panel-body">
		    	<div>өрөө: {{post.room}}</div>
		    	<div>үнэ:{{post.price}}</div>
		    	<div>давхар:{{post.flat_floor}}</div>
		    	<div>Байрны давхар:{{post.total_floor}}</div>
		    	<div>Хот:{{post.city}}</div>
		    	<div>Дүүрэг:{{post.district}}</div>
		    	<div>Гараж:{{post.garage}}</div>
		    	<div>Ашиглалтанд орсон он:{{post.es_date}}</div>
		    	<div>Нэмэлт мэдээлэл:{{post.extra_info}}</div>
		    	<div class="container-fluid">
		    		<div class="col-xs-4" ng-repeat="image in post.images">
		    			<img ng-src="data:{{image.filetype}};base64,{{image.base64}}" width="100%" />
		    		</div>
		    	</div>
		  	</div>
		</div>
	</div>
</div>